# ***作为从库时的配置***
[mysqld]
port=3306
skip_name_resolve = 1
skip_symbolic_links = yes
lower_case_table_names = 1
explicit_defaults_for_timestamp = ON
character_set_server = utf8
collation_server = utf8_general_ci

server_id = 2

# 开启中继日志
relay-log = mysql-relay
